body {
}

nav ul {
  list-style: none;
  display: flex;
  background: lightblue;
  padding: 10px;
}

nav a {
  text-decoration: none;
  padding: 10px;
  background: lightblue;
}

nav a:hover {
  background: yellow;
}

